<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
  <!-- LA CLASSE SERVELETS CREER EN LUI DONNE UN NOM OU UN ALIAS DE TEST  -->    
  <servlet-name>Test</servlet-name>
    <servlet-class>comm.octest.servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
  <!-- EN LINK LA CLASS SERVLET A UN LIEN  . --> 
    <!-- QUAND LUSER VA VISITER LA PAGE DONT LURL EST /bonjour CEST COMME SI IL VISITER 
    SUR NOTRE SERVLET CREER ET PLUS PRECISEMENT LA METHODE GETPOST() VA ETRE EXECUTER . --> 
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
 

  
  
       <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>comm.octest.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  

  
  
  
   
   
   
   <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>